#contact-me {
  background-color: transparent;
  border: none;
}

#contact-me .card-text {
  font-size: 2rem;
  color: black;
}

#contact-me .disclaimer {
  color: black;
  font-size: 1rem;
  margin: auto;
  width: 25%;
  margin-top: 2rem;
}

#contact-me a {
  color: black;
}
